{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% block style %}<link rel="stylesheet" href="/templates/main/about.css">{% endblock %}
    <title >{% block title %}FindTravel | O nas{% endblock %}</title>
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="container">
    <div>
            <h1>Grzegorz Niewierowski</h1>
            <img src="/templates/main/img/profile.png">
            <blockquote class="desc">
                Podczas tworzenia odpowiadał za wykonanie</br> większości backend'u i stworzenie bazy danych.
            </blockquote>
    </div>
    <div>
            <h1>Mateusz Gryko</h1>
            <img src="/templates/main/img/profile.png">
            <blockquote class="desc">
                Podczas tworzenia odpowiadał za </br> DevOps. Wykonanie serwera ,na którym działa aplikacja.
            </blockquote>
    </div>
    <div>
            <h1>Filip Ryciuk</h1>
            <img src="/templates/main/img/profile.png">
            <blockquote class="desc">
                Podczas tworzenia odpowiadał za </br> testowanie oraz część tworzenia ogólnego backend'u.
            </blockquote>
    </div>
    <div>
            <h1>Marcin Łogwinowicz</h1>
            <img src="/templates/main/img/profile.png">
            <blockquote class="desc">
                Podczas tworzenia odpowiadał za wykonanie</br> całego frontendu.
            </blockquote>
    </div>
    </div>
{% endblock %}
</body>
</html>