{% extends 'main/base.html' %}

    {% block style %}<link rel="stylesheet" href="/templates/main/attractions.css">{% endblock %}
{% block title %}FindTravel | Wybierz Atrakcje{% endblock %}
{% block content %}
       <div class="header">
    <h1 class="header-title">Atrakcje</h1>
    <div class="filtr">
        <h2>Filtry:</h2><br>
        <button id="all">Wszystkie</button>
        <button id="Sakralne">Sakralne</button>
        <button id="Pomniki">Pomniki</button>
        <button id="Muzea">Muzea</button>
        <button id="Zabytki">Zabytki</button>
    </div>
</div>
    <div class="container">
{% for attraction in attraction_list %}
    {% if attraction.city.name == city  %}

    <div class="{{ attraction.category }}">
        <a class="attract" href="single_attraction/{{attraction.id}}">
        <img src="/{{attraction.image}}">
            <span>{{ attraction.name }}</span>
        </a>
    </div>

    {% endif%}
{% endfor %}
    </div>
    <script src="/templates/main/filtr.js/"></script>
    {% for cart in default_list %}
        <div>
        <a href="/cart/{{ cart.id }}">
            {% for attraction in cart.attractions.all %} {{ attraction.name }} {% endfor %}
        </a>
        </div>
    {% endfor %}
{% endblock %}

</body>
</html>