
*{
    margin: 0;
    padding: 0;
    font-family: 'Square Peg', cursive;
}
.logo{
    padding: 0;
    width: 60px;
    height: 60px;
}
.loged {
    width: 50px;
    height: 50px;
    padding-top: 0;
}
nav img{
    padding-top: 10px;
    width: 40px;
    height: 40px;
}
body{
    min-height: 100vh;
    position: relative;

}
.folium-map{

}
nav{
    top:0;
    position: sticky;
    display: flex !important;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1.5px black solid;
            background-color:floralwhite;
}
nav a{
    height: 40px;
    text-decoration: none;
    color:black;
    font-size: 48px;
}
nav .text:hover{
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    transition: 0.7s;
    padding-bottom: 0;
    font-size: 50px;
}
#cart{

    display: flex;
}
#cart span {
    padding-left: 10px;
}
img{
    width: 200px;
    height: 200px;
}
.portret{
    border-radius: 50%;
    border: 4px solid black;
    width: 100px;
    height: 100px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:50px;
    background-color:floralwhite;
}
footer p{
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Square Peg', cursive;
    text-align: center;
}