<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/templates/main/base.css">
    <link rel="shortut icon" href="/templates/main/img/icone.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Square+Peg&display=swap" rel="stylesheet">
{% block style  %}<link href="stylesheet" href="#">{% endblock %}
    <title>{% block title %} Baza {% endblock %}</title>
</head>
<body>
<nav>
<img class="logo" src="/templates/main/img/icone.png">
    <a class="text" href="#"></a>
    <a class="text" href="/">Strona główna</a>
    <a class="text" href="/attractions">Atrakcje</a>
    <a class="text" href="/about">Nasz zespół</a>
    {% if user.is_authenticated %}
                    <a class="text" href="/logout/">Wyloguj sie</a>
                <a  href="/profile"><img class="loged" src="/templates/main/img/profile.png"></a>
            {% else %}
            <a class="text" href="/login/">Zaloguj sie</a>
            {% endif %}
    <a href="#"></a>
    <a class="text" id="cart" href="/cart"><img src="/templates/main/img/map2.png" ><span>Plan</span></a>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>
<footer>
    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script>, FindTravel</p>
</footer>
</body>
</html>