*{
    box-sizing: unset !important;
    -moz-box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
}
.title{
    text-align: center;
    display: block;
}
[id^=map]{
    width: 90% !important;
    height:600px !important;
    border: 2px solid black;
    margin: 80px auto 0 auto !important;
}
.loged{
    padding-top: 5px;
}
body{
    line-height: unset;
}
img{
    vertical-align: unset !important;
}
nav{
    position: unset;
}
.title{
    padding-top: 30px;
}
.content{
    margin-bottom: 50px;
}
.content_attractions{
    display: flex;
}
.attract_desc{
    width: 60%;
    padding-left: 20px;
}
.attract_img{
    width: 40%;
}
.attract_img img{
    box-shadow: 5px 4px 5px 5px grey;
}
p, .btl  {
    font-size: 20px;
}
.map_render{
    width: 100%;
}
.content{
    font-family: 'Josefin Sans', sans-serif;
}
.map_desc{
    text-align: center;
    padding-top: 20px;
}
.btn{
    height: 25px !important;
    width: 100px !important;
}
.attractions{
    width: 45%;
    padding-left: 20px;
}
.attract_content{
    display: flex;
}

p, h1, input{
    font-family: 'Josefin Sans', sans-serif !important;
}
.map{

    width: 50%;
    text-align: center;
}
.desc{
    width: 50%;
}
.attract h2{
    text-align: center;
    padding-bottom: 20px    ;
}
body{
    padding-bottom: 50px;
}
footer{
    bottom: unset;
}