{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FindTravel | Koszyk{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>Wybierz trasy stworzone przez nasz zespół lub <a href="/attractions">stwórz własną trasę!</a></h1>
    <div class="default">

    {% for cart in default_list %}

        <div>
        <a href="/cart/{{ cart.id }}">
            <h1>{{ cart.name }}</h1>
            {% for attraction in cart.attractions.all %} {{ attraction.name }}, {% endfor %}
        </a>
        </div>
            </div>
    {% endfor %}
{% endblock %}
</body>
</html>