<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FindTravel | Koszyk</title>
    {{map.header.render|safe}}
</head>
<body>
    {% if map %}

  	{{map.html.render|safe}}
  	<script>
    	{{map.script.render|safe}}
  	</script>
	{% endif %}
    <h1>Czas:{{ time }} sec</h1>
    <h1>Cena:{{ price }}</h1>
    {% if del %}
    <form action="#" method="get">
        <input style="height: 50px; width: 200px" type="submit" class="btn" value="Zakoncz" name="clicked">
    </form>
    {% endif %}
    {% for attraction in attraction_list %}
        <h1>{{ attraction.name }}</h1>
        <img src="/{{attraction.image}}">
        <p>Miasto: {{ attraction.city }}</p>
        <p>Szacowany czas: {{ attraction.time }} min</p>
        {% if del %}
            <form action="#" method="get">
                <input type="hidden" value="{{ attraction.id }}" name="attraction_id">
                <input style="height: 50px; width: 200px" type="submit" class="btn" value="Usun" name="del_attraction">
            </form>
        {% endif %}

    {% endfor %}
</body>
</html>