*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: floralwhite;
    font-family: 'Josefin Sans', sans-serif;
    font-style:italic;
    font-weight: 300;
}
.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}
.slideshow-item img{
    width: 100%;
    height:100%;
    object-fit: cover;
        animation: zoom 31s infinite;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img
{
    animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 20s;
}
.slideshow-item-text{
    max-width: 45%;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translateY(-50%);
    background-color:floralwhite;
    opacity: 0.8;
    border-radius: 15px;
    color: black;
    padding: 5rem 5rem;
}
.slideshow-item-text h5{
    font-size: 45px;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Square Peg', cursive;
}
.slideshow-item-text .icone{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    margin-top: 2px;
    opacity: 0.8;
}
.title{
    display: flex;
}
.slideshow-item-text p{
    font-size: 25px;
    width: inherit;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-space: 20px;
    word-spacing: 5px;
}
.slideshow-item-text a{
    font-size: 26px;
    text-decoration: none;
    text-underline: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-left: 32%;
}
@keyframes cycleImages {
    25% {
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}
@keyframes zoom {
    100%{
        transform: scale(1.2);
    }
}