<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>FindTravel | Strona główna</title>
    <link rel="shortut icon" href="/templates/main/img/icone.png">
    <link rel="stylesheet" href="/templates/main/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Square+Peg&display=swap" rel="stylesheet">
</head>
<body>
    <div class="slideshow">
        <div class="slideshow-item">
            <img src="/templates/main/img/img1.jpg">
            <div class="slideshow-item-text">
                <div class="title">
                    <img class="icone" src="/templates/main/img/target.png">
                        <h5>Zaplanuj swoją podróż!</h5>
                    <img class="icone" src="/templates/main/img/target.png">
                </div>
                <p>Jesteśmy od tego, aby pomóc Ci ułożyć plan Twojej niezapomnianej podróży. Dzięki tej aplikacji storzysz jej trasę i oszacujesz koszt wyprawy.</p>
                <br>
                <br>
                <a href="attractions">Kliknij, aby rozpocząć...</a>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="/templates/main/img/img3.jpg">
            <div class="slideshow-item-text">
                <div class="title">
                    <img class="icone" src="/templates/main/img/target.png">
                         <h5>Zaplanuj swoją podróż!</h5>
                    <img class="icone" src="/templates/main/img/target.png">
                </div>
                <p>Jesteśmy od tego, aby pomóc Ci ułożyć plan Twojej niezapomnianej podróży. Dzięki tej aplikacji storzysz jej trasę i oszacujesz koszt wyprawy.</p>
                <br>
                <br>
                <a href="attractions">Kliknij, aby rozpocząć...</a>
            </div>
        </div>
        <div class="slideshow-item">
            <img src="/templates/main/img/img2.jpg">
            <div class="slideshow-item-text">
                <div class="title">
                     <img class="icone" src="/templates/main/img/target.png">
                    <h5>Zaplanuj swoją podróż!</h5>
                    <img class="icone" src="/templates/main/img/target.png">
                </div>
                <p>Jesteśmy od tego, aby pomóc Ci ułożyć plan Twojej niezapomnianej podróży. Dzięki tej aplikacji storzysz jej trasę i oszacujesz koszt wyprawy.</p>
                <br>
                <br>
                <a href="attractions">Kliknij, aby rozpocząć...</a>
            </div>
        </div>
    </div>
</body>
</html>