body{
        font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 0;
}
.form-group{
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
        font-family: 'Josefin Sans', sans-serif;
}
label{
        font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}
.author{
    display: flex;
}
.errorlist{
    color: red;
    list-style: none;
}
input{
    width: 200px;
    height: 30px;
    font-size:20px ;
        font-family: 'Josefin Sans', sans-serif;
}
button{
    width: 100px;
    height: 40px;
    font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
}
form p{
    padding-top: 30px;
}
.acc{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}
.acc a{
    margin-left: 10px;

}
a:visited{
    color: black;
}