{% extends "main/base.html" %}
{% block title %}Profile Page{% endblock title %}

{% block content %}

    <h1>Profil użytkownika {{user.username}}</h1>
    <h2>Imie: {{user.first_name}}</h2>
    <h2>Nazwisko: {{user.last_name}}</h2>
    <h2>Aktualny plan:</h2>
    <h3>{{ attraction_list.0.city }}</h3>
    {% for attraction in attraction_list %}
        <p>{{ attraction.name }} ({{ attraction.time }}, tu wstawimy cene potem)</p>
    {% endfor %}
    <h2>Poprzednie plany: </h2>
    {% for cart in cart_list %}
    <h3>{{ forloop.counter }}. {{ cart.attractions.all.0.city }}</h3>
        {% for attraction in cart.attractions.all %}
        <p>{{ attraction.name }} ({{ attraction.time }}, tu wstawimy cene potem)</p>
        {% endfor %}
    {% endfor %}
{% endblock content %}
