{% extends 'main/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}<link rel="stylesheet" href="/templates/main/single_attraction.css">{% endblock %}
    <title>{% block title %}FindTravel | {{ attraction.name }}{% endblock %}</title>
</head>
<body>

{% block content %}

        <h1 class="name">{{ attraction.name }}</h1>
        <h3 class="city">{{ attraction.city }}</h3>
        <div class="attraction">
        <img class="photo" src="/{{attraction.image}}">
            <div class="about">
        <p>Kategoria: {{ attraction.category }}</p>
        <p>Cena: {{ attraction.price }}</p>
        <p>Szacowany czas: {{ attraction.time }}</p>
       <div class="desc">
           <span>Opis:</span>
           <p>{{ attraction.desc }}</p>

       </div>
                </div>
                   <a class="add"href="{{ attraction.id }}/add">
                       <p>Dodaj do planu</p>
                       <img src="/templates/main/img/map2.png">
                   </a>
        </div>
{% endblock %}
</body>
</html>