{% extends 'main/base.html' %}
{% block style %}<link rel="stylesheet" href="/static/main/about.css">{% endblock %}
{% block title %}FindTravel | O nas{% endblock %}
{% block content %}
    <div>
            <h1>Grzegorz Niewierowski</h1>
            <img src="/media/main/img/profile.png">
            <blockquote class="desc">
                Podczas tworzenia odpowiadał za wykonanie</br> większości backend'u i stworzenie bazy danych.
            </blockquote>
    </div>
    <div>
            <h1>Mateusz Gryko</h1>
            <img src="/media/main/img/profile.png">
            <blockquote class="desc">
                Podczas tworzenia odpowiadał za DevOps. </br> Wykonanie serwera ,na którym działa aplikacja.
            </blockquote>
    </div>
    <div>
            <h1>Filip Ryciuk</h1>
            <img src="/media/main/img/profile.png">
            <blockquote class="desc">
                Podczas tworzenia odpowiadał za </br> testowanie oraz część tworzenia ogólnego backend'u.
            </blockquote>
    </div>
    <div>
            <h1>Marcin Łogwinowicz</h1>
            <img src="/media/main/img/profile.png">
            <blockquote class="desc">
                Podczas tworzenia odpowiadał za wykonanie</br> całego frontendu.
            </blockquote>
    </div>
{% endblock %}
